html {
    margin: 0 100px;
}

.deltas-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    position: relative;
}

.artist-stats {
    z-index: 3;
}

.positive {
    color: rgb(101, 250, 101);
}

.negative {
    color: red;
}

.thumbnail {
    object-fit: contain;
    position: absolute;
}

.delta-container {
    width: 100%;
    /* width: */
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.delta-container h3 {
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    border-radius: 5px;
}

.search-bar {
    display: flex;
    gap: 2px;
}

.search-bar input {
    padding: 3px;
}

.sort-controls {
    display: flex;
    justify-content: right;
}